<footer class="footer py-3 bg-light">
  <div class="container text-center">
    <p> <a href="https://github.com/the-hacking-team/happy-minute"> Happy Minute GitHub </a> project by The Hacking Team </p>
  </div>
</footer>
