<!-- Footer Section Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="social-icons wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <ul>
            <li class="facebook"><%= link_to("https://www.facebook.com/thehackingproject/") do %><i class="fa fa-facebook"></i><% end %></li>
            <li class="twitter"><%= link_to("https://twitter.com/the_hacking_pro?lang=fr") do %><i class="fa fa-twitter"></i><% end %></li>
            <li class="linkedin"><%= link_to("https://www.linkedin.com/school/the_hacking_project/") do %><i class="fa fa-linkedin"></i><% end %></li>
          </ul>
        </div>
        <div class="site-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <p> <a href="https://github.com/the-hacking-team/happy-minute"> Happy Minute GitHub </a> project by The Hacking Team </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
