
      <div class="menu-wrap">
        <nav class="menu navbar">
          <div class="icon-list navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#video-area">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">Services</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" href="#features">Features</a>
              </li>                            
              <li class="nav-item">
                <a class="nav-link" href="#portfolios">Our Works</a>
              </li>            
              <li class="nav-item">
                <a class="nav-link" href="#pricing">Pricing</a>
              </li>     
              <li class="nav-item">
                <a class="nav-link" href="#blog">Blog</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="#subscribe">Subscribe</a>
              </li>
            </ul>
          </div>
        </nav> 
        <button class="close-button" id="close-button"><i class="lnr lnr-cross"></i></button>
      </div>      
  	<!-- Header Section Start -->

    <header id="video-area" data-stellar-background-ratio="0.5">    
      <div id="block" data-vide-bg="video/video"></div>
      <div class="fixed-top">
          <div class="container">
            <div class="logo-menu">
              <a href="index.html" class="logo"><span class="lnr lnr-diamond"></span> CRYSTAL</a>
              <button class="menu-button" id="open-button"><i class="lnr lnr-menu"></i></button>    
            </div>           
          </div>
      </div>
      <div class="overlay overlay-2"></div>      
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-10">
            <div class="contents text-center">
              <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Crystal - Free Video Background HTML5 Bootstrap Template</h1>
              <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">Free High-quality Responsive Video Background Website Template Based on Bootstrap 4 to Create Complete Business Website in Minutes</p>
              <a href="#" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms"><i class="lnr lnr-download"></i> Download</a>
            </div>
          </div>
        </div> 
      </div>      
    </header>
    <!-- Header Section End --> 

