    <!-- Business Hero Start -->
<div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="jumbo-business jumbotron jumbotron-fluid py-5">
          <div class="jumbo-business-container container container-fluid py-5">
            <div class="jumbo-title-container col-6">
              <h1 class="jumbo-title pt-3"><%= link_to @business.name, business_path(@business) %></h1>
              <p class="my-3"><%= @business.address %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Business Hero End -->
