        <!-- Blog Item Starts -->
<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 blog-item">
  <div class="blog-item-wrapper wow fadeInUp" data-wow-delay="0.9s">
    <div class="blog-item-text">
      <div class="row">
        <div class="col-4">
          <h3>
            <%= link_to item.title, business_item_path(@business, item) %>
          </h3>
          <div class="meta-tags">
            <span class="foodcategory"><i class="lnr lnr-cloud"></i> <%= item.category %> </span><br>
          </div>
        </div>
        <div class="col-6">
          <p>
            <%= item.description %>
          </p>
        </div>
        <div class="col-2">
          <p>
            <%= item.price %> €
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Blog Item Wrapper Ends-->
