<h1>Bienvenue sur Happy Minute !</h1>
<h2>Des promotions éphèmères dans les meilleurs bars et restaurants</h2>
<h3>Bénéficiez de nos Happy Minutes exclusives, accessibles en Un Clic !</h3>

<p>Merci de votre inscritption <%= @customer.email %> sur <%= @url %></p>

<p>Venez nous rejoindre quotidiennement sur : https://<%= @url %></p>
<p><small>Et pour nous contactez, n'hésitez pas à nous envoyer un email à <%= @email %> !</small></p>
 
