html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
#footer {
  margin-top: auto;
}

/*Welcome Page Hero*/

#video-area .contents p {
  font-size: 2rem;
}


/* kit ui addons*/
/* business jumbotron*/

.my-jumbotron {
  background-image: asset-url("Salle_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.jumbo-business { 
	background-image: url('https://lefooding.com/media/W1siZiIsIjIwMTcvMTIvMDIvMTNfMzVfNTlfNDEwX3Jlc3RhdXJhbnRfYm91aWxsb25fcGFyaXMuanBlZyJdLFsicCIsInRodW1iIiwiNjcyeDYwMCJdXQ/restaurant-bouillon-paris.jpeg?sha=876c0cc5');
	background-size: cover;
 	background-repeat: no-repeat;
 	display: flex;
    justify-content: center;
  	align-items: center;
}

.jumbo-business-container {
	display: flex;
    justify-content: center;
  	align-items: center;
}

.jumbo-title-container {
	background-color: rgba(255, 255, 255, 255);
	opacity: 0.9;
	text-align: center;
}

.jumbo-title {
  font-size: 42px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 100;
  color: #0d3559;
  position: relative;
}

/* Business index page */
.root-card-image {
  height: 300px;
}

/* Business show page */
.business-show-card-image {
  
  width: 100%;
}

/* Customer profile page */

.photo-link {
  display: block;
  height: 100%;
  width: 100%;
}

.follow-photo {
  max-height: 17em;
}


.business-show-image {
  max-width: 100%;
}