<p>Bonjour <%= @resource.email %>!</p>

<p>Vous avez demandé à changer votre mot de passe. Vous pouvez le faire grâce au lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, merci de ne pas tenir compte de cet email.</p>
<p>Votre mot de passe restera inchangé tant que vous n'en aurez pas créé un nouveau en cliquant sur le lien ci-dessous.</p>
