<% content_for :application do %>
  <div class="container d-flex justify-content-center">
    <div class="col-lg-8">
      <div class="devise">
        <%= content_for?(:devise) ? yield(:devise) : yield %>
      </div>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
